.main {
    display: grid;
    row-gap: 20px;
    column-gap: 10px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 12px;
    width: 100%;
}
.zoneName {
    font-size: 14px;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.days {
    display: flex;
    gap: 7px;
}
.day {
    display: grid;
    justify-items: center;
    gap: 9px;
    color: gray;
    font-size: 14px;
}
.day.activeDay {
    color: #000000;
}
.day .circle {
    font-size: 4px;
    display: none;
}
.day.activeDay .circle {
    display: inline;
}
.value {
    font-size: 16px;
}
.duration {
    text-align: right;
}
