.main {
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 38px;
    text-align: center;
}
.increase, .decrease {
    background-color: #EDEAE9;
    width: 34px;
}
.decrease {
    border-radius: 4px 0px 0px 4px;
}
.increase {
    border-radius: 0px 4px 4px 0px;
}
.text {
    background-color: #fff;
    display: grid;
    align-items: center;
}
