.main {
    display: grid;
    padding: 10px;
    gap: 20px;
    background-color: #F2F1F0;
}
.input, .input:hover {
    background-color: #fff;
}
.toggleButtonsGroup {
    display: grid;
    grid-auto-flow: column;
}
.timeDurationContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
