.main {
    display: grid;
    row-gap: 22px;
}
.switchContainer {
    display: flex;
    justify-content: space-between;
}
.modeLabel {

}
.manualControlLabel {
    text-align: center;
}
.zoneSwitchLabel {

}
