.main {
    display: grid;
    justify-items: center;
    gap: 40px;
    padding: 20px;
    text-align: center;
}
.tokenWrapper {
    display: grid;
    gap: 10px
}
.tokenCard {
    display: grid;
    grid-template-columns: 1fr 90px;
    align-items: center;
    justify-items: end;
    column-gap: 24px;
}
.token {
    word-break: break-all;
    font-size: 12px;
    font-family: monospace;
    text-align: start;
}
